.button-container {
  height: 40px;

  .button {
    height: 100%;
    width: 60%;
  }
}

.amount-container {
  height: 40px;

  .amount-box {
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 100%
  }
}

.description {
  margin-top: 20px;
}

